.loading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background-color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loading span{
    width: 250px;
    height: 250px;
    border: 20px solid gold;
    border-radius: 50%;
    border-top: 20px solid transparent;
    animation: girar 1s ease-in-out infinite ;
}

@keyframes girar {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}